/* line 5, D:/Projecten/maelstrom-js/repositories/maelstrom-js_develop/tests/input/sass-compile.scss */
body {
  background-color: red;
  font-size: 300px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-interpolation-mode: bicubic; }

/* line 15, D:/Projecten/maelstrom-js/repositories/maelstrom-js_develop/tests/input/sass-compile.scss */
div {
  content: 'a scss compile test';
  color: purple;
  background-size: test; }

/* line 26, D:/Projecten/maelstrom-js/repositories/maelstrom-js_develop/tests/input/sass-compile.scss */
button {
  -ms-appearance: 'button'; }
