## folders
.hg/
.idea/
.svn/
_notes/
logs/
node_modules/
test/output/

## specific files without extension
.DS_Store
.lock-wscript

## specific files with extension
desktop.ini
Thumbs.db

## all files with specific extension
*.cfg
*.dmp
*.log
*.sublime-project
*.sublime-workspace
